// @use 'variables' as var

/* MARK: Header */
.header
    width: 100%
    padding: 2rem 0
    background-color: var(--background-color)
    &__logo-link
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        gap: 0.5rem
        text-decoration: none
    &__image
        height: 30px
    &__title
        font-size: 24px
        // font-family: var.$font-headline
        font-family: 'Playfair Display', serif
        font-weight: 900